/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* Card Styling */
.patient-profile {
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #007BFF;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info-item {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-item strong {
    font-weight: 600;
    color: #444;
}

.info-item span {
    font-weight: 400;
    color: #666;
}

@media (max-width: 768px) {
    .card-body {
        padding: 20px;
    }

    .section-title {
        font-size: 1.4rem;
    }

    .info-item {
        font-size: 1rem;
    }
}

/* Profile Header Styling */
.card-header {
    background: linear-gradient(200deg, #e5eaed, #f9fafc);
    text-align: center;
    color:  #4f6277;
    padding: 20px 10px;
    position: relative;
}

.card-header h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.card-header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    opacity: 0.9;
}

.card-header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 20px;
}

.card-footer {
    padding: 20px;
}

.card-footer .btn {
    margin: 5px;
}
